How to use</br>
<br />
<li>Open a browser</li>
<li>Copy and paste this link:  http://radiant-ocean-1342.herokuapp.com/lists/search/<beginning_code>/<ending_code></li>
<li>Example:  <a href="http://radiant-ocean-1342.herokuapp.com/lists/search/11134677/11134680">http://radiant-ocean-1342.herokuapp.com/lists/search/11134677/11134680</a></li>
<li>Do only about 200 at a time</li>

<br />
<br />
<br />
<br />
<br />

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Code</th>
      <th>Last updated</th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.merchandise_amount %></td>
        <td><%= link_to list.url, list.url %></td>
		<td><%= list.updated_at.strftime("%m-%d-%y at %H:%M %Z") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
