<% @i = @start_code.to_i %>
<% while @i <= @end_code.to_i %>
	<% @i += 1 %>
	<% @url = URI.parse("http://www.jimmyjazz.com/request/cart/add/#{@i}/1")%>

	<% begin %>
	<% @request = Net::HTTP.get(URI.parse("http://www.jimmyjazz.com/request/cart/add/#{@i}/1")) %>
	<% if @request %>
		<% if @result=JSON.parse(@request)["success"] == 1 %>
			<a href="http://www.jimmyjazz.com/request/cart/add/<%= @i %>/1"><%= @i %>:  <%= @result=JSON.parse(@request)["totals"]["subtotal"] %></a><br />
			<% @record = List.new(:merchandise_amount => @result.to_f, :url => "http://www.jimmyjazz.com/request/cart/add/#{@i}/1", :code => @i) %>
			<% @record.save %>
		<% else %>
			<%= @i %>:  nothing	<br />
		<% end %>
	<% end %>
	<% sleep(1)%>
	<% rescue %>
	<% end %>
	
<% end %>

Go back to <a href="http://radiant-ocean-1342.herokuapp.com">index</a>
