<% @i = @start_code.to_i %>
<% while @i <= @end_code.to_i %>
	<% @i += 1 %>
	<% @url = URI.parse("http://www.jimmyjazz.com/request/cart/add/#{@i}/1")%>

	<% begin %>
	<% @request = Net::HTTP.get(URI.parse("http://www.jimmyjazz.com/request/cart/add/#{@i}/1")) %>
	<% if @request %>
		<% if @result=JSON.parse(@request)["success"] == 1 %>
			<% if @result=JSON.parse(@request)["totals"]["subtotal"].to_s == "180.00" %>
				<a href="http://www.jimmyjazz.com/request/cart/add/<%= @i %>/1"><%= @i %>:  <%= @result=JSON.parse(@request)["totals"]["subtotal"] %></a>
			<% end %>
		<% else %>
			<%= @i %>:  nothing
		<% end %>
	<% end %>
	<% sleep(1)%>
	<br />
	<% rescue %>
	<% end %>
	
<% end %>
